@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  @apply text-3xl font-bold my-6;
}

h2 {
  @apply text-2xl font-bold my-6;
}

button, input[type="submit"], input[type="button"] {
  @apply border-2 rounded px-2 px-5
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  @apply my-10 text-justify
}

input {
  @apply p-[10px];
}

.with-navbar {
  @apply mt-[56px] md:mt-[64px];
}

.with-footer {
  /* the footer height isn't static, so I just put lots of room at the bottom. */
  @apply md:mb-80 mb-40;
}

.footer {
  @apply fixed bottom-0 left-0 w-full opacity-90 bg-purple-50 text-center md:text-right;
}

.content-container {
  @apply mt-[112px] md:mt-[128px] max-w-screen-sm mx-auto px-3;
}
